@font-face {
    font-family: 'Google Sans';
    src: url('GoogleSans-Medium.woff2') format('woff2'),
        url('GoogleSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nocturne Serif';
    src: url('NocturneSerif-Regular.woff2') format('woff2'),
        url('NocturneSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('GoogleSans-Bold.woff2') format('woff2'),
        url('GoogleSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('GoogleSans-Regular.woff2') format('woff2'),
        url('GoogleSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nocturne Serif';
    src: url('NocturneSerif-Regular.woff2') format('woff2'),
        url('NocturneSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

